:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  /* Colores por defecto (modo claro) */
  color: #213547;
  background-color: #ffffff;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

/* Links */
a {
  font-weight: 500;
  color: #646cff;
  text-decoration: none;
}
a:hover {
  color: #535bf2;
}

/* Body limpio */
body {
  margin: 0;
  min-width: 320px;
  height: 100%;
}

/* Encabezados */
h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

/* Botones */
button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

/* NAVBAR personalizada */
.navbar {
  height: 70px !important;   /* fuerza altura más grande */
  align-items: center;        /* centra verticalmente el contenido */
}

/* Links del menú */
.navbar .nav-link {
  font-size: 1.2rem;
  padding: 0.75rem 1rem;
}

/* Botón amarillo de inicio */
.navbar .btn {
  font-size: 1.2rem;
  padding: 0.4rem 1.5rem;
}

.navbar .nav-item.separator {
  position: relative;
  padding-left: 15px;  /* espacio a la izquierda del link */
  margin-left: 15px;   /* espacio antes de la barra */
}

.navbar .nav-item.separator::before {
  content: "";
  position: absolute;
  left: 0;
  top: 30%;             /* baja la barra un poco */
  height: 50%;          /* la barra ocupa solo la mitad */
  width: 1px;
  background-color: #bbb; /* color de la barra */
}


/* Soporte modo claro */
@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}

/*Logo herramientas*/
.brand-logo {
  height: 60px;        
  width: auto;         
  object-fit: contain; 
  margin: 0 50px;      
}



